.app {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

body {
  background-image: url('../public/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(186, 194, 195, 0.95);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorites-list {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.notification {
  padding: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #f44336;
}

input {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 90%;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.cart-container {
  width: auto;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.budget-container,
.add-item,
.add-category {
  margin-top: 20px;
  text-align: center;
}

.budget {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}