.app {
  text-align: center;
  margin: auto;
  padding: 2rem;
  color:#14227e;
}

body {
  background-image: url('../public/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-page {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(227, 226, 226, 0.9); 
  padding: 50px; 
  border-radius: 30px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-list {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
}

.favorites-list,
.recent-items-list {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.item {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.notification {
  padding: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: bold;
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #f44336;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

.budget-exceeded {
  color: red;
  font-weight: bold;
}
